
/* Type Selectors */

body {
   font-family: Arial, Arial, Helvetica, sans-serif;
}

footer {
    background-color: black;
    color: white;
    margin-top: 10px;
    padding-top: 20px;
}

header {
    background-color: black;
    color: white;
    margin-bottom: 1px;
}

hgroup h1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 2em;
    font-family: 'Verdana';
    color: antiquewhite;
    font-weight: bold;
}

hgroup h2 {
    text-transform: uppercase;
    font-family:'Calibri';
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    text-align: center;
    line-height: 1em;
    padding-top: 0;
}

article h1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2em;
    font-family: 'Verdana';
    color: antiquewhite;
    font-weight: bold;
}

h3 {
    color: white;
}

section {
    background-color: black ;
    padding-bottom: 150px;
}

article {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 1.5em;
    padding: 10px 10px 10px 10px;
    color: aliceblue;
}

img {
    margin: auto;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 0px 20px 0px 20px;
    text-align: justify;
}

article li{
    margin-left: 20px;
}

/* Class Selectors */

.container-fluid {
    padding: 0px 5px 0px 5px;
    margin: 0;
}

.navbar-default {
    background-color: thistle;
}

.navbar-default .navbar-nav li a {
    color: crimson;
    font-weight: bolder;
}

.jumbotron {
    background-color: black;
    padding: 0;
    width: 100%;
}

.container-fluid .jumbotron {
    border-radius: 0;
}

.highlight {
    color: crimson;
    font-weight: bold;
}

.imgBtn {
    float: left;
    box-shadow: 5px 5px 7px 3px gray;
    margin: 50px 50px 50px 0px;
    background-color: white;
    background-size : auto;
}

.caption {
    text-align:left;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.logoBanner{
    margin-bottom: 10px;
}

.thumbnail {
    width: 100%;
}

.a {
    font-family: Verdana;
}


/* ID Selectors */
#about {
    background-color: thistle; 
    color: black;
    padding: 50px 50px 50px 50px;
}

#contact {
    background-color: lightsteelblue;
    color: black;
    padding: 50px 50px 50px 50px;
    margin-bottom: 10px;
}



